@import "tailwindcss";

:root {
  --white: #ffffff;
  --purple: #481ca4;
  --light-purple: #f9f8ff;
}

@theme {
  --color-primary: var(--purple);
  --color-primary-200: var(--light-purple);
  --color-bg-color: var(--white);
}

.font-heading {
  font-family: var(--font-cormorant-infant);
  font-weight: 300;
  font-style: italic;
}

.font-text {
  font-family: var(--font-robot);
}

.my-container {
  @apply w-[90%] lg:w-[960px] xl:w-[1152px] 2xl:w-[1312px] mx-auto;
}

.show-at-470 {
  display: none;
}
@media (min-width: 470px){
  .show-at-470 {
    display: block
  }
}